textarea{width:100%;}

#PageList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding:1em;
}

#PageList h3{
    font-size: 1.5em;
}

#FormTop {
    display: flex;justify-content: space-between;
}

#EditBox{
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    background: var(--SecColor);

    flex-direction: column;
    align-items: center;
}

#EditBox form{
    max-height: 90vh;
    margin:  1em 0;;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

#ButtomFormBox{width: 60%;}


#ButtomFormBox input[type="checkbox"]{display: none;}
input[type="checkbox"] + label {
    user-select: none;
    border-radius: 5px;
    transition: all .3s ease-in-out 0s;
    padding: .4em .8em ;
    background: var(--ThirdColor);
}
input[type="checkbox"]:checked + label {
    background: var(--PainCho);
}

#ButtomMark{
    height: 3em;
    border-radius: 10em 10em 0 0;
    display: flex;
    position: absolute;
    padding: .5em 4em;
    top: -3em;
    flex-direction: column;
    align-items: center;
    background: var(--ThirdColor);
}

#ButtomMark p {
    font-size: 1.4em;margin: 0;
}

.Page_Pain {position: relative;}

.Page_Pain a {
    background: var(--ThirdColor);
    width:calc(50vw - 1.3em);
    padding: 1em;
    border-radius: 10px;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PaneIcon {
    position: relative;
    top: calc(100% - 2em);left: calc(100% - 2em);
    width: 1.5em;height: 1.5em;
    border-radius: 100%;
    border: 2px solid  var(--SpecialColor_A);
    transition: all 0.5s ease;
}

.PaneIcon:hover{
    background: rgba(0, 0, 0, 0);
    background: var(--SpecialColor_A);
    border: 0px solid  var(--SpecialColor_A);
}

#PageList >  .Page_Pain:nth-child(n+3) a {
    margin: 1em 0 0;}

.Special_Check {
    background: var(--ThirdColor);
}

#CheckBox > div{
    display: flex;justify-content: space-between;
    height:0;width:100%;
    transition: all 0.5s ease;
    overflow: hidden;
    /* border: 2px solid #000; */
}

#CheckBox input{padding:0  1.2em;transition: all 0.5s ease;}

#checkIfDel input:hover{background: red;}

#CheckBox > .active{
    height:5em;
    padding: .5em;
}