
form{
    display:flex;flex-wrap: wrap;
}

input{margin: 0 1.2em 0 .5em;}

h5{margin:.3em 1em;color: rgba(255, 255, 255, 0.495);}

#row_bookmark{display: flex;}
#row_bookmark > div{
    margin: 0 .2em;
    padding: .2em 2em;
    border-radius: 10px 10px 0 0;
    background:var(--ThirdColor);

    display: flex;
    flex-direction: column;
    align-items: center;
}
#row_bookmark  p{
    margin: .2em 0 ;
}
#bookmark>div{
    display:none;
    font-size: calc(20px + .3vw);
    background: var(--SecColor);
    padding:1em;
}
#bookmark .active{
    display:block;
}

#sortable{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width:100%
}

#sortable > div {
    padding: .25em .5em;
    margin:.35em;
    border: 0;
    color: white;
    user-select: none;
    background: var(--ThirdColor);
    border-radius: 5px;
}   

/* @media screen and (min-width: 1000px) {
    body{
        width:calc(5% + 950px);
        margin:auto
    }
} */